* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;

  background-color: #ebebeb;
}

.main {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 60rem;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 6rem auto 4rem;

  font-size: 3.2rem;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.board__try {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  border: none;
}

.board__input {
  width: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 3rem;

  background: #ebebeb;

  text-align: center;
  font-size: 4rem;
  font-weight: bold;

  box-shadow: inset 6px 6px 12px #bababa, inset -6px -6px 12px #ffffff;
}

.board__input:focus {
  outline: none;
}
